<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= serverName %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type = "text/JavaScript">
    function httpGet(){
      var theUrl = '<%= hostUrl %>/device/sinyal';
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
      xmlHttp.send( null );
      if(xmlHttp.responseText != '<%= dataVersion %>') {
        location.reload(true);
      } else {
        cekStatus(0);
      }
    }
    function cekStatus( t ) {
      setTimeout("httpGet();", t);
    }
    cekStatus(0);
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="row" style="padding-top: 2.5%;background-color: darkgrey;">
        &nbsp;
    </div>
      <!-- Content here -->
    <br>
    <h1 class="text-center" style="text-transform: uppercase;">STATUS GEMPA <%= serverName %></h1>
    <div class="row">
      <div class="col-md-12" style="margin-top: 1%">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Data Masukan</th>
              <th scope="col" style="text-align: center;vertical-align: middle;width: 40%;">Hasil Deteksi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                  <strong>Total Sinyal = </strong><%= totalSinyal %> <br>
                  <strong>Total Node = </strong><%= totalNode %> <br>
                  <strong>Presentase Sinyal = </strong><%= presentaseKemunculan %>% <br>
                  <strong>Kategori Gempa = </strong><%= kategoriGempa %> <br>
                  <strong>Kategori Sinyal = </strong><%= kategoriSinyal %> <br>
              </td>
              <td style="font-weight: bold;text-align: center;vertical-align: middle">
                <%= hasilDeteksi %><br>
                <%= kekuatanGempa %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="col-md-12 text-center">STATUS PERANGKAT</h2>
      <table class="col-md-12">
        <tr style="color: darkseagreen;font-weight: bold;text-align: center;">
          <td style="background-image: url('/images/green.png'); width: 20%;">TIDAK TERASA</td>
          <td style="background-image: url('/images/yellow.png'); width: 20%;">LOW</td>
          <td style="background-image: url('/images/orange.png'); width: 20%;">MEDIUM</td>
          <td style="background-image: url('/images/red.png'); width: 20%;">HIGH</td>
        </tr>
      </table>
      <%
        for(const device of data) {
      %>
        <div class="col-md-2 col-sm-4 col-6" style="margin-top: 20px;">
          <div class="card">
            <img src="/images/<%= device.earthquake_status %>.png" class="card-img-top" alt="Category">
            <div class="card-body">
              <table>
                <tr>
                  <td><strong>ID Name : </strong> <%= device.node_name %></td>
                </tr>
                <tr>
                  <td><strong>Lokasi : </strong> <%= device.node_location %></td>
                </tr>
                <tr>
                  <td><strong>Kekuatan : </strong> <%= device.earthquake_strength %> SR / <%= device.skala_sig %> (SKALA SIG BMKG)</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <%
        }
      %>
    </div>
  </div>
</body>
</html>
